@* Views/Shared/Widgets/Messaging/_CardFloatingInfo.cshtml *@

@model Server_Manager_Application.Models.Messaging.InfoMessage

<div class="list-group" id="widget_@Model.id" style="position: absolute; top:75%; justify-self:center;">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@Model.title</h5>
            <small>@Model.date</small>
        </div>
        <p class="mb-1">@Model.description</p>
        <small>@Model.message</small>
    </a>
</div>